<div class="cards-matrix">
  <div class="cards-matrix__timer">
    {{timer * 1000 | date:'mm:ss'}}
  </div>
  <div class="cards-matrix__cards"
       [ngClass]="{'grid-x4' : pairsAmount === 8, 'grid-x6' : pairsAmount === 18, 'grid-x8' : pairsAmount === 32}">
    <div class="flip-square flip-card" *ngFor="let card of cardsToShow" (click)="turnOver(card)"
         [class.selected]="card.show" [class.matched]="card.matched">
      <div class="flip-square-inner">
        <div class="flip-square-front">
          <mat-icon [svgIcon]="'palette'" *ngIf="selectedDeck === Deck.ICONS"></mat-icon>
          <ng-container *ngIf="selectedDeck === Deck.NUMBERS"></ng-container>
        </div>
        <div class="flip-square-back">
          {{ card.value }}
        </div>
      </div>
    </div>
  </div>
</div>
