<div class="cards-matrix">
  <div class="cards-matrix__timer">
    {{timer * 1000 | date:'mm:ss'}}
  </div>
  <div class="cards-matrix__cards"
       [ngClass]="{'grid-x4' : level === Levels.EASY, 'grid-x6' : level === Levels.MEDIUM, 'grid-x8' : level === Levels.HARD}">
    <div class="flip-square flip-card" *ngFor="let card of cardsToShow" (click)="turnOver(card)"
         [class.selected]="card.show" [class.matched]="card.matched">
      <div class="flip-square-inner">
        <div class="flip-square-front">
          <mat-icon [svgIcon]="'palette'" *ngIf="selectedDeck === Deck.ICONS"></mat-icon>
          <mat-icon [svgIcon]="'one'" *ngIf="selectedDeck === Deck.NUMBERS"></mat-icon>
        </div>
        <div class="flip-square-back">
          <mat-icon [svgIcon]="card.value.toString()" *ngIf="selectedDeck === Deck.ICONS"></mat-icon>
          <span *ngIf="selectedDeck === Deck.NUMBERS">{{ card.value }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
