<div class="home ">
  <div class="deck-select">
    <span class="title">Select Your Deck</span>
    <div class="decks">
      <div class="deck" (click)="selectDeck(Deck.ICONS)" [class.black-shadow]="selectedDeck === Deck.ICONS">
        <mat-icon [svgIcon]="'palette'"></mat-icon>
      </div>
      <div class="deck" (click)="selectDeck(Deck.NUMBERS)" [class.black-shadow]="selectedDeck === Deck.NUMBERS">
        <mat-icon [svgIcon]="'one'"></mat-icon>
      </div>
    </div>
  </div>
  <div class="difficulty-select">
    <div class="level" [style.background-color]="levels.easy.color" [routerLink]="'/levels/' + levels.easy.title">
      <span>{{levels.easy.title | uppercase}}</span>
    </div>
    <div class="level" [style.background-color]="levels.medium.color" [routerLink]="'/levels/' + levels.medium.title">
      <span>{{levels.medium.title | uppercase}}</span>
    </div>
    <div class="level" [style.background-color]="levels.hard.color" [routerLink]="'/levels/' + levels.hard.title">
      <span>{{levels.hard.title | uppercase}}</span>
    </div>
  </div>
  <fam-score-chart></fam-score-chart>
  <div class="reset-button">
    <div class="button" (click)="resetScores()">
      RESET SCORES
    </div>
  </div>
</div>
