<div class="home ">
  <div class="deck-select">
    <span class="title">Select Your Deck</span>
    <div class="decks">
      <div class="deck" (click)="selectDeck(Deck.ICONS)" [class.black-shadow]="selectedDeck === Deck.ICONS">
        <mat-icon [svgIcon]="'palette'"></mat-icon>
      </div>
      <div class="deck" (click)="selectDeck(Deck.NUMBERS)" [class.black-shadow]="selectedDeck === Deck.NUMBERS">
        <mat-icon [svgIcon]="'one'"></mat-icon>
      </div>
    </div>
  </div>
  <div class="difficulty-select">
    <div class="level" *ngFor="let level of LEVELS" [style.background-color]="level.color" [routerLink]="'/levels/' + level.title">
      <span>{{level.title | uppercase}}</span>
    </div>
  </div>
  <fam-score-chart></fam-score-chart>
  <div class="reset-button">
    <div class="button">
      RESET SCORES
    </div>
  </div>
</div>
