<div class="home container-fluid">
  <div class="container">
    <fam-logo></fam-logo>
    <div class="links">
      <div class="link" *ngFor="let link of environment.links">
        <mat-icon [svgIcon]="link.icon"></mat-icon>
      </div>
    </div>
    <div class="deck-select">
      <span>Select Your Deck</span>
      <div class="decks">
        <div class="letter-square">
          s
        </div>
        <div class="letter-square">
          s
        </div>
      </div>
    </div>
  </div>
</div>
