html, body { height: 100%; margin: 0 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  display: grid;
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  background-color: #838383FF;
}

.container-fluid {
  width: 100%;
  background-color: #838383;
}

.home {
  .links {
    margin: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;

    mat-icon {
      width: 2.5rem;
      height: 2.5rem;
    }

    mat-icon:hover {
      color: white;
      transition: 0.3s;
      cursor: pointer;

    }
  }

  .deck-select {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;

    font-size: 1.5rem;
    font-weight: 700;
    font-family: monospace;

    .decks {
      display: flex;
      justify-content: space-between;
      width: 10%;
    }

    span {
      margin-bottom: 1rem;
    }
  }
}

.logo {
  .letters {
    display: flex;
    justify-content: center;
  }
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
}

.letter-square {
  @extend .square;

  font-weight: bold;
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 1rem;
  background-color: white;
}

.brake-square {
  @extend .square;
}
