@import "assets/styles/variables.scss";

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  display: grid;
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  height: calc(100vh - 4rem);
  padding: 2rem 0 2rem 0;
}

@mixin buttons-container {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 1rem 0;

  .button {
    @extend .border-solid-black;
    @extend .border-radius-1rem;
    @extend .align-vertically-horizontally;
    @extend .black-shadow-transition-back;

    height: 3rem;
    padding: 0 1rem 0 1rem;
    font-weight: bold;
    font-size: 2rem;
    background-color: white;
    cursor: pointer;
  }

  .button:hover {
    @extend .black-shadow;
  }
}

@mixin letter-square {
  @extend .square;
  @extend .border-solid-black;

  font-weight: bold;
  font-size: 2rem;
  background-color: white;
}

.home {
  .deck-select {
    @extend .align-vertically-horizontally;

    flex-direction: column;
    margin: 0.5rem 0 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: monospace;

    .decks {
      display: flex;
      justify-content: center;

      .deck {
        @extend .border-radius-1rem;
        @extend .black-shadow-transition-back;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        border: 2px solid black;
        margin-right: 1rem;
        cursor: pointer;
        background-color: $purple-deck-card-background;

        span {
          margin: 0;
        }
      }

      .deck:hover {
        @extend .black-shadow;
      }

      .deck:last-child {
        margin-right: 0;
      }
    }

    span {
      margin-bottom: 1rem;
    }
  }

  .difficulty-select {
    @extend .align-vertically-horizontally;

    margin-bottom: 1rem;

    .level {
      @extend .border-solid-black;
      @extend .border-radius-1rem;
      @extend .align-vertically-horizontally;
      @extend .black-shadow-transition-back;

      width: 12rem;
      height: 3rem;
      font-weight: bold;
      font-size: 2rem;
      cursor: pointer;
      padding: 0 1rem 0 1rem;
    }

    .level:hover {
      @extend .black-shadow;
    }

    div {
      margin-right: 0.5rem;
    }

    div:last-child {
      margin-right: 0;
    }
  }

  .mobile {
    display: none;
  }

  .reset-button {
    @include buttons-container;
  }
}

.links {
  margin: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;

  mat-icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  mat-icon:hover {
    color: white;
    transition: 0.5s;
    cursor: pointer;
  }
}

.logo {
  display: flex;
  justify-content: center;
}

.flip-card-render {
  display: flex;
  justify-content: center;
}

.score-chart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;

  .charts {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  fam-render-chart {
    margin-right: 0.5rem;
  }

  fam-render-chart:last-child {
    margin-right: 0;
  }
}

.render-charts {
  .chart {
    @extend .border-radius-1rem;
    @extend .border-solid-black;

    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 12rem;

    .position {
      display: flex;
      justify-content: space-between;
    }
  }
}

.levels {
  .timer {
    display: flex;
    justify-content: center;
  }

  .back-button {
    @include buttons-container;

    .button {
      background-color: $purple-button-background;
    }
  }
}

.cards-matrix {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__timer {
    margin: 1rem 0 2rem 0;
    font-size: 2.5rem;
    font-weight: bolder;
  }

  &__cards {
    .flip-card {
      cursor: pointer;

      .flip-square-front {
        background-color: $purple-deck-card-background;
        transition: 0.5s;
      }

      .flip-square-front:hover {
        background-color: $aqua-level-card-background;
        transition: 0.5s;
      }

      .flip-square-back {
        font-weight: bold;
        font-size: 2rem;
        background-color: white;
      }
    }

    .flip-square.matched {
      animation: fadeOut 0.5s ease forwards;
    }

    @keyframes fadeOut {
      0% {
        opacity: 1;
        transform: scale(1);
      }
      100% {
        opacity: 0;
        transform: scale(0);
      }
    }
  }
}

.custom-dialog {
  background-color: $blue-dialog-background;
  padding: 0.75rem;

  &__content {
    text-align: center;
  }

  &__buttons {
    @include buttons-container;

    .button {
      background-color: $yellow-dialog-button-background;
    }

    .red-background {
      background-color: $red-dialog-button-background;
    }
  }

  &__buttons, .mat-mdc-dialog-actions, .mdc-dialog__actions {
    display: flex;
    justify-content: center;

    div {
      margin-right: 0.5rem;
    }

    div:last-child {
      margin-top: 0;
    }
  }

  span {
    @extend .title;
    color: black;
  }
}

.end-game-screen {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .level-chart {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .level-score {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1.5rem;

    span:last-child {
      margin-top: 1.5rem;
    }
  }

  .name-input {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 0.5rem;

    .mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align ng-tns-c17-0 {
      display: none;
    }
  }

  .buttons {
    @include buttons-container;
    margin: 0;

    .disabled {
      background-color: gray;
    }
  }
}

@mixin grid {
  display: grid;
  grid-gap: 1rem;
  grid-row-gap: 1rem;
}

.grid-x4 {
  @include grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-x6 {
  @include grid;
  grid-template-columns: repeat(6, 1fr);
}

.grid-x8 {
  @include grid;
  grid-template-columns: repeat(8, 1fr);
}

.flip-square {
  @extend .square;

  margin-right: 0.25rem;
  margin-left: 0.25rem;
  perspective: 1000px;
}

.flip-square-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.selected .flip-square-inner {
  transform: rotateY(180deg);
}

.flip-square-front, .flip-square-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-square-front {
  @include letter-square;
}

.flip-square-back {
  @extend .square;
  @extend .border-solid-black;

  left: -0.25rem;
  background-color: $gray-letter-square-background;
  transform: rotateY(180deg);
}

.square {
  @extend .border-radius-1rem;
  @extend .align-vertically-horizontally;

  width: 3rem;
  height: 3rem;
}

.brake-square {
  @extend .square;
}

.align-vertically-horizontally {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-radius-1rem {
  border-radius: 1rem;
}

.border-solid-black {
  border: 2px solid black;
}

.black-shadow-transition-back {
  transition: box-shadow 0.5s, transform 0.5s;
}

.black-shadow {
  box-shadow: 5px 5px #000;
  transform: translate(-5px, -5px);
}

.title {
  align-self: center;
  font-weight: bold;
  font-size: 2rem;
}

.gradient {
  background-image: linear-gradient(62deg, $orange-background-gradient, $red-background-gradient, $blue-background-gradient, $turquoise-background-gradient);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@media (max-width: 480px) {
  @mixin border-solid-black {
    border: 2px solid black;
  }

  @mixin border-radius-1rem {
    border-radius: 1rem;
  }

  .container-fluid {
    height: 100vh;
    overflow: auto;
  }

  .links {
    display: flex;
    justify-content: center;
  }

  fam-flip-cards-render {
    display: none;
  }

  .home {
    .deck-select {
      .decks {
        .deck {
          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }

    .mobile {
      display: block;
    }

    .web {
      display: none
    }

    .difficulty-select {
      display: flex;
      flex-direction: column;

      .level {
        margin-right: 0;
        margin-bottom: 0.5rem;
      }
    }

    .reset-button {
      .button {
        font-size: 1.5rem;
      }
    }
  }

  .score-chart {
    .charts {
      display: flex;
      flex-direction: column;
      align-items: center;

      fam-render-chart {
        margin-right: 0;
        margin-bottom: 0.5rem;
      }

      fam-score-chart:last-child {
        margin-bottom: 0;
      }
    }
  }

  .custom-dialog {
    padding: 0.5rem;

    &__content {
      .phones-view {
        display: block;
      }
    }

    &__buttons {
      .button {
        span {
          font-size: 1.5rem;
        }
      }
    }
  }

  .cards-matrix {
    .cards-matrix__cards {
      @include grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .score-chart-mobile {
    &__title {
      display: flex;
      justify-content: center;

      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    &__carousel {
      display: flex;
      align-items: center;
      justify-content: center;

      mat-icon {
        width: 3rem;
        height: 3rem;
      }

      .slides {
        .slide {
          margin-top: 0.5rem;

          &__content {
            @include border-radius-1rem;
            @include border-solid-black;

            display: flex;
            flex-direction: column;
            padding: 1rem;
            width: 12rem;

            .position {
              display: flex;
              justify-content: space-between;
            }
          }

          &__title {
            display: flex;
            justify-content:center;
            font-size: 1.5rem;
            font-weight: bold;
            margin-top: 0.5rem;
          }
        }

        .flip-in-ver-left {
          -webkit-animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
      }
    }
  }

  @-webkit-keyframes flip-in-ver-left {
    0% {
      -webkit-transform: rotateY(80deg);
      transform: rotateY(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-ver-left {
    0% {
      -webkit-transform: rotateY(80deg);
      transform: rotateY(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
      opacity: 1;
    }
  }
}
