body {
  margin: 0;
}

.container {
  display: grid;
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  background-color: purple;
}

.container-fluid {
  width: 100%;
  background-color: black;
}

.logo {
  .letters {
    display: flex;
    justify-content: center;

    .letter-square {
      @extend .square;

      font-weight: bold;
      font-size: 2rem;
      border: 2px solid black;
      border-radius: 1rem;
      background-color: white;
    }

    .brake-square {
      @extend .square;
    }
  }
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
}
