$purple-deck-card-background: #62dffe;

$orange-background-gradient: #ee7752;
$red-background-gradient: #e73c7e;
$blue-background-gradient: #23a6d5;
$turquoise-background-gradient: #23d5ab;

$gray-letter-square-background: #778899;

$aqua-level-card-background: #23AECD;
$purple-button-background: #db8af2;

$blue-dialog-background: #33dbff;
$yellow-dialog-button-background: #51ec18;
$red-dialog-button-background: #ef3d3d;
